  <div class="menu-panel flex flex-row items-center justify-between text-center bg-[rgb(243,245,247)] mt-[1rem] w-[90%] h-[3rem] relative">
  <img src="./img/menu-svgrepo-com.svg" alt="Logo menu" class="ml-[1rem] w-[1rem] h-[1rem] cursor-pointer" id="menuIcon">
  
  <span class="flex-1 text-center">{{pageTitle}}</span>

<!-- Menu để đi đến các trang khác -->
  <div class="menu hidden absolute top-[3rem] left-0 bg-white shadow-lg rounded-md p-4" id="menu">
  <ul class="space-y-2">
    <li><a href="/controllPanel" class="block text-black hover:text-blue-500">Control panel</a></li>
    <li><a href="/activityLog" class="block text-black hover:text-blue-500">Activity log</a></li>
  </ul>
</div>

</div>

<script src="./js/menu.js"></script>