<div class="container flex-col flex items-center justify-center">
  <div class="menu-panel flex flex-row items-center justify-between text-center bg-[rgb(243,245,247)] mt-[1rem] w-[90%] h-[3rem] relative">
  <img src="/img/menu-svgrepo-com.svg" alt="Logo menu" class="ml-[1rem] w-[1rem] h-[1rem] cursor-pointer" id="menuIcon">
  
  <span class="flex-1 text-center">Control Panel</span>

<!-- Menu để đi đến các trang khác -->
  <div class="menu hidden absolute top-[3rem] left-0 bg-white shadow-lg rounded-md p-4" id="menu">
    <ul class="space-y-2">
      <li><a href="#" class="block text-black hover:text-blue-500">Controll panel</a></li>
      <li><a href="#" class="block text-black hover:text-blue-500">Activity log</a></li>
    </ul>
  </div>
</div>

<!-- Hàng đầu tiên chứa các panel con gồm cảm biến temperature and humidity, photoresister, gas sensor-->
  <div class="first-row mt-[1rem] flex flex-row w-[90%]">
  <div class="tempHumid flex-1 w-full h-[13rem] bg-[rgb(203,75,75)] mx-[0.5rem]">
    <!-- Nội dung của cảm biến temperature and humidity -->
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Temperature and humidity</span>
    </div>
  </div>
  <div class="photoresistor flex-1 w-full h-[13rem] bg-[rgb(203,75,75)] mx-[0.5rem]">
    <!-- Nội dung của cảm biến photoresistor -->
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Photoresistor sensor</span>
    </div>
  </div>
  <div class="gasSensor flex-1 w-full h-[13rem] bg-[rgb(203,75,75)] mx-[0.5rem]">
    <!-- Nội dung của cảm biến gas sensor -->
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Gas sensor</span>
    </div>  
  </div>
</div>


<!-- Hàng thứ hai chứa các panel con gồm bật tắt led, light, buzzer -->
  <div class="second-row mt-[1rem] flex flex-row w-[90%]">
  <div class="led flex-1 w-full h-[7rem] bg-[rgb(203,75,75)] mx-[0.5rem]">
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Led</span>
    </div>

    <div class="controll-btn mt-[0.5rem] flex flex-row justify-center">
      <button class="bg-[rgb(149,131,131)] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500">On</button>
      <button class="bg-[rgb(63,52,52)] ml-[2rem] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500">Off</button>
    </div>
    

  </div>

  <div class="light flex-1 w-full h-[7rem] bg-[rgb(203,75,75)] mx-[0.5rem]">
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Light</span>
    </div>

    <div class="controll-btn mt-[0.5rem] flex flex-row justify-center">
      <button class="bg-[rgb(149,131,131)] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500">On</button>
      <button class="bg-[rgb(63,52,52)] ml-[2rem] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500">Off</button>
    </div>

  </div>

  <div class="buzzer flex-1 w-full h-[7rem] bg-[rgb(203,75,75)] mx-[0.5rem]">
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Buzzer</span>
    </div>

    <div class="controll-btn mt-[0.5rem] flex flex-row justify-center">
      <button class="bg-[rgb(149,131,131)] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500">On</button>
      <button class="bg-[rgb(63,52,52)] ml-[2rem] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500">Off</button>
    </div>
  </div>

</div>

<!-- Hàng thứ 3 chứa các panel con gồm vibration sensor, vehicle in, vehicle out -->
  <div class="third-row mt-[1rem] flex flex-row w-[90%]">
  <div class="vibration flex-1 w-full h-[16rem] bg-[rgb(203,75,75)] mx-[0.5rem]">
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Vibration sensor</span>
    </div>
    
  </div>
  <div class="vehicle-in flex-1 w-full h-[16rem] bg-[rgb(203,75,75)] mx-[0.5rem]">
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Vehicle in</span>
    </div>

    <div class="content flex flex-row justify-start mt-[0.5rem] ml-[0.5rem] mr-[0.5rem]">
      <img class="w-[12rem] h-[10rem]" src="./img/biensoxe1.jpg" alt="Biển số xe">
      <div class="information flex flex-col">
        <span class=" ml-[0.5rem]">License plate: 54L1 9999</span>
        <span class=" ml-[0.5rem]">Time out: 21:09 10/11/2024</span>
        <span class=" ml-[0.5rem]">ID: 10</span>
      </div>
  </div>
  </div>
  <div class="vehicle-out flex-1 w-full h-[16rem] bg-[rgb(203,75,75)] mx-[0.5rem]">
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Vehicle out</span>
    </div>
    <div class="content flex flex-row justify-start mt-[0.5rem] ml-[0.5rem] mr-[0.5rem]">
        <img class="w-[12rem] h-[10rem]" src="./img/biensoxe4.jpg" alt="Biển số xe">
        <div class="information flex flex-col">
          <span class=" ml-[0.5rem]">License plate: 76A 076 76 111</span>
          <span class=" ml-[0.5rem]">Time out: 23:05 10/11/2024</span>
          <span class=" ml-[0.5rem]">ID: 11</span>
        </div>
        
    </div>
  </div>
</div>
</div>


