<img src="./img/logoSchool.jpg" alt="logoSchool" class="w-[6rem] h-[6rem]" />

<div class="container flex items-center justify-center h-screen>">

  <div
    class="login-form bg-[rgb(243,245,247)] rounded-lg p-[2rem] shadow-md w-[30rem]"
  >
    <!-- Tiêu đề -->
    <h2 class="title text-center text-[1.5rem] font-bold mb-[1.5rem]">Đăng nhập</h2>
    <h4 class="mb-[1.5rem] text-gray-400 font-[300]">Nhập tài khoản và mật khẩu
      đã đăng ký trên hệ thống</h4>

    <!-- Form tài khoản -->
    <div class="mb-[1rem]">
      <label
        for="username"
        class="block text-[1rem] font-medium mb-[0.5rem]"
      ><span class="text-[rgb(243,28,36)]">*</span> Tài khoản</label>
      <input
        type="text"
        placeholder="Nhập email của bạn"
        class="w-full border border-gray-300 rounded-md p-[0.8rem] text-[1rem] focus:outline-none focus:ring-2 focus:ring-blue-400"
      />
    </div>

    <!-- Form mật khẩu -->
    <div class="mb-[1rem]">
      <label
        for="password"
        class="block text-[1rem] font-medium mb-[0.5rem]"
      ><span class="text-[rgb(243,28,36)]">*</span> Mật khẩu</label>
      <input
        type="password"
        placeholder="Nhập mật khẩu"
        class="w-full border border-gray-300 rounded-md p-[0.8rem] text-[1rem] focus:outline-none focus:ring-2 focus:ring-blue-400"
      />
      <a
        href="#"
        class="block text-right mt-[0.5rem] text-[0.9rem] text-blue-500 hover:underline"
      >Quên mật khẩu?</a>
    </div>

    <!-- Nút đăng ký và đăng nhập -->
    <div class="flex justify-between mt-[1.5rem]">
      <a href="/register" class="block">
        <button
          class="register-button bg-[rgb(43,39,154)] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500"
        >Đăng ký</button>
      </a>
      <a href="/controlPanel" class="block">
        <button
          class="login-button bg-[rgb(230,184,74)] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500"
        >Đăng nhập</button>
      </a>

    </div>
  </div>
</div>